*{
	margin:0;
	padding:0;
	font-family: "monsterrat",sans-serif;
	box-sozing:border-box;
}
body{
	background-image:url("shoes1.jpg");
	min-height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}
.contactus{
	display:center;
	width:100%;
	color:white;
}
.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}


.card{
  background: #2f3542;
  padding: 0 40px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.card-icon{
  font-size: 28px;
  background: #ff6348;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon{
  background: none;
  color: #ff6348;
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
}


@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}
.nav li{
	display: inline-block;
}

.nav li a{
	color: #fff;
	text-decoration: none;
	padding: 5px;
	font-family: poppins;
	font-size: 20px;
	float: right;
	list-style:none;
	margin-top:30px;
}

.nav li a:hover{
	background: #fff;
	color: #333;
}

#home{
	left:900px;
	top:-5%;
	position:absolute;
	margin: 30px;
}

#about{
	left:1000px;
	top:-5%;
	position:absolute;
	margin: 30px;
}

#login{
	left:1100px;
	top:-5%;
	position:absolute;
	margin: 30px;
}

#register{
	left:1200px;
	top:-5%;
	position:absolute;
	margin: 30px;
}